https://reportcard.education.ohio.gov/

https://reportcard.education.ohio.gov/download

District Achievement reports
* 1516_DIST_ACH2.xls
* 1617_DISTRICT_ACHIEVEMENT.xls
* 17-18_Achievement_District.xlsx

Note these workbooks, have multiple sheets in them

In [3]:
from re import compile as re_compile, IGNORECASE

import numpy as np
import pandas as pd

In [4]:
achievement15_indicators = pd.read_excel('1516_DIST_ACH2.xls', sheet_name=1, index_col='District IRN')
# achievement15_indicators.head(5)

In [5]:
achievement17_indicators = pd.read_excel('17-18_Achievement_District.xlsx', sheet_name=1, index_col='District IRN')
# achievement17_indicators.head(5)

In [6]:
# List all columns of DataFrame
list(achievement15_indicators)

['District Name',
 'County',
 'Region',
 'Address',
 'City and Zip Code',
 'Phone #',
 'Superintendent',
 'Number of Standards Met',
 'Number of Standards Possible',
 'Percent of Standards Met',
 'Letter Grade of Standards Met',
 'Gifted Indicator',
 'Reading 3rd Grade 2015-16 % at or above Proficient - District',
 'Reading 3rd Grade 2015-16 % at or above Proficient - Similar District Avg',
 'Reading 3rd Grade 2015-16 % at or above Proficient - State',
 'Math 3rd Grade 2015-16 % at or above Proficient - District',
 'Math 3rd Grade 2015-16 % at or above Proficient -Similar District Avg',
 'Math 3rd Grade 2015-16 % at or above Proficient - State',
 'Reading 4th Grade 2015-16 % at or above Proficient - District',
 'Reading 4th Grade 2015-16 % at or above Proficient -Similar Distric Avg',
 'Reading 4th Grade 2015-16 % at or above Proficient -State',
 'Math 4th Grade 2015-16 % at or above Proficient - District',
 'Math 4th Grade 2015-16 % at or above Proficient -Similar District Avg',
 'Math 4th Grade 2015-16 % at or above Proficient -State',
 'Social Studies 4th Grade 2015-16 % at or above Proficient -  District',
 'Social Studies 4th Grade 2015-16 % at or above Proficient - Similar District Avg',
 'Social Studies 4th Grade 2015-16 % at or above Proficient - State',
 'Reading 5th Grade 2015-16 % at or above Proficient - District',
 'Reading 5th Grade 2015-16 % at or above Proficient -Similar District Avg',
 'Reading 5th Grade 2015-16 % at or above Proficient -State',
 'Math 5th Grade 2015-16 % at or above Proficient - District',
 'Math 5th Grade 2015-16 % at or above Proficient -Similar District Avg',
 'Math 5th Grade 2015-16 % at or above Proficient -State',
 'Science 5th Grade 2015-16 % at or above Proficient -  District',
 'Science 5th Grade 2015-16 % at or above Proficient - Similar District Avg',
 'Science 5th Grade 2015-16 % at or above Proficient - State',
 'Reading 6th Grade 2015-16 % at or above Proficient - District',
 'Reading 6th Grade 2015-16 % at or above Proficient -Similar District Avg',
 'Reading 6th Grade 2015-16 % at or above Proficient -State',
 'Math 6th Grade 2015-16 % at or above Proficient - District',
 'Math 6th Grade 2015-16 % at or above Proficient -Similar District Avg',
 'Math 6th Grade 2015-16 % at or above Proficient -State',
 'Social Studies 6th Grade 2015-16 % at or above Proficient -  District',
 'Social Studies 6th Grade 2015-16 % at or above Proficient - Similar District Avg',
 'Social Studies 6th Grade 2015-16 % at or above Proficient - State',
 'Reading 7th Grade 2015-16 % at or above Proficient - District',
 'Reading 7th Grade 2015-16 % at or above Proficient -Similar District Avg',
 'Reading 7th Grade 2015-16 % at or above Proficient -State',
 'Math 7th Grade 2015-16 % at or above Proficient -District',
 'Math 7th Grade 2015-16 % at or above Proficient -Similar District Avg',
 'Math 7th Grade 2015-16 % at or above Proficient -State',
 'Reading 8th Grade 2015-16 % at or above Proficient -District',
 'Reading 8th Grade 2015-16 % at or above Proficient -Similar District Avg',
 'Reading 8th Grade 2015-16 % at or above Proficient -State',
 'Math 8th Grade 2015-16 % at or above Proficient -District',
 'Math 8th Grade 2015-16 % at or above Proficient - Similar District Avg',
 'Math 8th Grade 2015-16 % at or above Proficient -State',
 'Science 8th Grade 2015-16 % at or above Proficient - District',
 'Science 8th Grade 2015-16 % at or above Proficient - Similar District Avg',
 'Science 8th Grade 2015-16 % at or above Proficient - State',
 'Reading 11th Grade 2015-16 % at or above Proficient -District',
 'Reading 11th Grade 2015-16 % at or above Proficient -Similar District Avg',
 'Reading 11th Grade 2015-16 % at or above Proficient -State',
 'Math 11th Grade 2015-16 % at or above Proficient -District',
 'Math 11th Grade 2015-16 % at or above Proficient -Similar District Avg',
 'Math 11th Grade 2015-16 % at or above Proficient -State',
 'Science 11th Grade 2015-16 % at or above Proficient - District',
 'Science 11th Grade 2015-16 % at or above Proficient - Similar District Avg',
 'Science 11th Grade 2015-16 % at or above Proficient - State',
 'Social Studies 11th Grade 2015-16 % at or above Proficient - District',
 'Social Studies 11th Grade 2015-16 % at or above Proficient - Similar District Avg',
 'Social Studies 11th Grade 2015-16 % at or above Proficient - State',
 'Writing 11th Grade 2015-16 % at or above Proficient - District',
 'Writing 11th Grade 2015-16 % at or above Proficient - Similar District Avg',
 'Writing 11th Grade 2015-16 % at or above Proficient - State',
 'HS English I 2015-16 % at or above Proficient - District',
 'HS English I 2015-16 % at or above Proficient - Similar District Avg',
 'HS English I 2015-16 % at or above Proficient - State',
 'HS English II 2015-16 % at or above Proficient - District',
 'HS English II 2015-16 % at or above Proficient - Similar District Avg',
 'HS English II 2015-16 % at or above Proficient - State',
 'HS Math I 2015-16 % at or above Proficient - District',
 'HS Math I 2015-16 % at or above Proficient - Similar District Avg',
 'HS Math I 2015-16 % at or above Proficient - State',
 'HS Math II 2015-16 % at or above Proficient - District',
 'HS Math II 2015-16 % at or above Proficient - Similar District Avg',
 'HS Math II 2015-16 % at or above Proficient - State',
 'HS Algebra I 2015-16 % at or above Proficient - District',
 'HS Algebra I 2015-16 % at or above Proficient - Similar District Avg',
 'HS Algebra I 2015-16 % at or above Proficient - State',
 'HS Geometry 2015-16 % at or above Proficient - District',
 'HS Geometry 2015-16 % at or above Proficient - Similar District Avg',
 'HS Geometry 2015-16 % at or above Proficient - State',
 'HS Biology 2015-16 % at or above Proficient - District',
 'HS Biology 2015-16 % at or above Proficient - Similar Districts Avg',
 'HS Biology 2015-16 % at or above Proficient - State',
 'HS Physical Science 2015-16 % at or above Proficient - District',
 'HS Physical Science 2015-16 % at or above Proficient - Similar District Avg',
 'HS Physical Science 2015-16 % at or above Proficient - State',
 'HS Government 2015-16 % at or above Proficient - District',
 'HS Government 2015-16 % at or above Proficient - Similar District Avg',
 'HS Government 2015-16 % at or above Proficient - State',
 'HS History 2015-16 % at or above Proficient - District',
 'HS History 2015-16 % at or above Proficient - Similar District Avg',
 'HS History 2015-16 % at or above Proficient - State',
 'Reading 3rd Grade 2014-15 % at or above Proficient - District',
 'Math 3rd Grade 2014-15 % at or above Proficient - District',
 'Reading 4th Grade 2014-15 % at or above Proficient -District',
 'Math 4th Grade 2014-15 % at or above Proficient -District',
 'Social Studies 4th Grade 2014-15 % at or above Proficient - District',
 'Reading 5th Grade 2014-15 % at or above Proficient -District',
 'Math 5th Grade 2014-15 % at or above Proficient -District',
 'Science 5th Grade 2014-15 % at or above Proficient - District',
 'Reading 6th Grade 2014-15 % at or above Proficient -District',
 'Math 6th Grade 2014-15 % at or above Proficient -District',
 'Social Studies 6th Grade 2014-15 % at or above Proficient - District',
 'Reading 7th Grade 2014-15 % at or above Proficient -District',
 'Math 7th Grade 2014-15 % at or above Proficient -District',
 'Reading 8th Grade 2014-15 % at or above Proficient -District',
 'Math 8th Grade 2014-15 % at or above Proficient -District',
 'Science 8th Grade 2014-15 % at or above Proficient - District',
 'Reading 10th Grade 2014-15 % at or above Proficient -District',
 'Math 10th Grade 2014-15 % at or above Proficient -District',
 'Science 10th Grade 2014-15 % at or above Proficient - District',
 'Social Studies 10th Grade 2014-15 % at or above Proficient - District',
 'Writing 10th Grade 2014-15 % at or above Proficient - District',
 'Reading 11th Grade 2014-15 % at or above Proficient -District',
 'Math 11th Grade 2014-15 % at or above Proficient -District',
 'Science 11th Grade 2014-15 % at or above Proficient - District',
 'Social Studies 11th Grade 2014-15 % at or above Proficient - District',
 'Writing 11th Grade 2014-15 % at or above Proficient - District',
 'HS English I 2014-15 % at or above Proficient - District',
 'HS English II 2014-15 % at or above Proficient - District',
 'HS Math I 2014-15 % at or above Proficient - District',
 'HS Math II 2014-15 % at or above Proficient - District',
 'HS Algebra I 2014-15 % at or above Proficient - District',
 'HS Geometry 2014-15 % at or above Proficient - District',
 'HS Physical Science 2014-15 % at or above Proficient - District',
 'HS Government 2014-15 % at or above Proficient - District',
 'HS History 2014-15 % at or above Proficient - District',
 'Reading 3rd Grade 2013-14 % at or above Proficient - District',
 'Math 3rd Grade 2013-14 % at or above Proficient - District',
 'Reading 4th Grade 2013-14 % at or above Proficient -District',
 'Math 4th Grade 2013-14 % at or above Proficient -District',
 'Reading 5th Grade 2013-14 % at or above Proficient -District',
 'Math 5th Grade 2013-14 % at or above Proficient -District',
 'Science 5th Grade 2013-14 % at or above Proficient - District',
 'Reading 6th Grade 2013-14 % at or above Proficient -District',
 'Math 6th Grade 2013-14 % at or above Proficient -District',
 'Reading 7th Grade 2013-14 % at or above Proficient -District',
 'Math 7th Grade 2013-14 % at or above Proficient -District',
 'Reading 8th Grade 2013-14 % at or above Proficient -District',
 'Math 8th Grade 2013-14 % at or above Proficient -District',
 'Science 8th Grade 2013-14 % at or above Proficient - District',
 'Reading 10th Grade 2013-14 % at or above Proficient -District',
 'Math 10th Grade 2013-14 % at or above Proficient -District',
 'Science 10th Grade 2013-14 % at or above Proficient - District',
 'Social Studies 10th Grade 2013-14 % at or above Proficient - District',
 'Writing 10th Grade 2013-14 % at or above Proficient - District',
 'Reading 11th Grade 2013-14 % at or above Proficient -District',
 'Math 11th Grade 2013-14 % at or above Proficient -District',
 'Science 11th Grade 2013-14 % at or above Proficient - District',
 'Social Studies 11th Grade 2013-14 % at or above Proficient - District',
 'Writing 11th Grade 2013-14 % at or above Proficient - District',
 'Watermark']

In [7]:
def filter_indicator_columns(data_frame, subject_regex):
    columns_out = []
    for column_name in list(data_frame):
        if column_name == 'District Name':
            columns_out.append(column_name)
        match = subject_regex.match(column_name)
        if match:
            columns_out.append(column_name)
    return columns_out

In [8]:
subject_regex1 = re_compile(
    r'^(Math 1?(3rd|\dth) Grade|HS ((Math|Algebra) I{1,2}|Geometry)) \d{4}-\d{2} % at or above Proficient -[ ]?District',
    IGNORECASE,
)

math_data_columns1 = filter_indicator_columns(achievement15_indicators, subject_regex1)
math_data_columns1

['District Name',
 'Math 3rd Grade 2015-16 % at or above Proficient - District',
 'Math 4th Grade 2015-16 % at or above Proficient - District',
 'Math 5th Grade 2015-16 % at or above Proficient - District',
 'Math 6th Grade 2015-16 % at or above Proficient - District',
 'Math 7th Grade 2015-16 % at or above Proficient -District',
 'Math 8th Grade 2015-16 % at or above Proficient -District',
 'Math 11th Grade 2015-16 % at or above Proficient -District',
 'HS Math I 2015-16 % at or above Proficient - District',
 'HS Math II 2015-16 % at or above Proficient - District',
 'HS Algebra I 2015-16 % at or above Proficient - District',
 'HS Geometry 2015-16 % at or above Proficient - District',
 'Math 3rd Grade 2014-15 % at or above Proficient - District',
 'Math 4th Grade 2014-15 % at or above Proficient -District',
 'Math 5th Grade 2014-15 % at or above Proficient -District',
 'Math 6th Grade 2014-15 % at or above Proficient -District',
 'Math 7th Grade 2014-15 % at or above Proficient -District',
 'Math 8th Grade 2014-15 % at or above Proficient -District',
 'Math 10th Grade 2014-15 % at or above Proficient -District',
 'Math 11th Grade 2014-15 % at or above Proficient -District',
 'HS Math I 2014-15 % at or above Proficient - District',
 'HS Math II 2014-15 % at or above Proficient - District',
 'HS Algebra I 2014-15 % at or above Proficient - District',
 'HS Geometry 2014-15 % at or above Proficient - District',
 'Math 3rd Grade 2013-14 % at or above Proficient - District',
 'Math 4th Grade 2013-14 % at or above Proficient -District',
 'Math 5th Grade 2013-14 % at or above Proficient -District',
 'Math 6th Grade 2013-14 % at or above Proficient -District',
 'Math 7th Grade 2013-14 % at or above Proficient -District',
 'Math 8th Grade 2013-14 % at or above Proficient -District',
 'Math 10th Grade 2013-14 % at or above Proficient -District',
 'Math 11th Grade 2013-14 % at or above Proficient -District']

In [9]:
list(achievement17_indicators)

['District Name',
 'County',
 'Region',
 'Address',
 'City and Zip',
 'Phone Number',
 'Superintendent',
 'Number of Standards Met',
 'Number of Standards Possible',
 'Percent of Standards Met',
 'Letter Grade of Standards Met',
 'Gifted Indicator',
 'Chronic Absenteeism Rate 2017-18',
 'Chronic Absenteeism Rate 2016-17',
 'Chronic Absenteeism Indicator',
 '3rd Grade Reading 2017-18 % at or above Proficient - District',
 '3rd Grade Reading 2017-18 % at or above Proficient - Similar Dis',
 '3rd Grade Reading 2017-18 % at or above Proficient - State',
 '3rd Grade Math 2017-18 % at or above Proficient - District',
 '3rd Grade Math 2017-18 % at or above Proficient - Similar Distri',
 '3rd Grade Math 2017-18 % at or above Proficient - State',
 '4th Grade Reading 2017-18 % at or above Proficient - District',
 '4th Grade Reading 2017-18 % at or above Proficient - Similar Dis',
 '4th Grade Reading 2017-18 % at or above Proficient - State',
 '4th Grade Math 2017-18 % at or above Proficient - District',
 '4th Grade Math 2017-18 % at or above Proficient - Similar Distri',
 '4th Grade Math 2017-18 % at or above Proficient - State',
 '5th Grade Reading 2017-18 % at or above Proficient - District',
 '5th Grade Reading 2017-18 % at or above Proficient - Similar Dis',
 '5th Grade Reading 2017-18 % at or above Proficient - State',
 '5th Grade Math 2017-18 % at or above Proficient - District',
 '5th Grade Math 2017-18 % at or above Proficient - Similar Distri',
 '5th Grade Math 2017-18 % at or above Proficient - State',
 '5th Grade Science 2017-18 % at or above Proficient - District',
 '5th Grade Science 2017-18 % at or above Proficient - Similar Dis',
 '5th Grade Science 2017-18 % at or above Proficient - State',
 '6th Grade Reading 2017-18 % at or above Proficient - District',
 '6th Grade Reading 2017-18 % at or above Proficient - Similar Dis',
 '6th Grade Reading 2017-18 % at or above Proficient - State',
 '6th Grade Math 2017-18 % at or above Proficient - District',
 '6th Grade Math 2017-18 % at or above Proficient - Similar Distri',
 '6th Grade Math 2017-18 % at or above Proficient - State',
 '7th Grade Reading 2017-18 % at or above Proficient - District',
 '7th Grade Reading 2017-18 % at or above Proficient - Similar Dis',
 '7th Grade Reading 2017-18 % at or above Proficient - State',
 '7th Grade Math 2017-18 % at or above Proficient - District',
 '7th Grade Math 2017-18 % at or above Proficient - Similar Distri',
 '7th Grade Math 2017-18 % at or above Proficient - State',
 '8th Grade Reading 2017-18 % at or above Proficient - District',
 '8th Grade Reading 2017-18 % at or above Proficient - Similar Dis',
 '8th Grade Reading 2017-18 % at or above Proficient - State',
 '8th Grade Math 2017-18 % at or above Proficient - District',
 '8th Grade Math 2017-18 % at or above Proficient - Similar Distri',
 '8th Grade Math 2017-18 % at or above Proficient - State',
 '8th Grade Science 2017-18 % at or above Proficient - District',
 '8th Grade Science 2017-18 % at or above Proficient - Similar Dis',
 '8th Grade Science 2017-18 % at or above Proficient - State',
 'HS Algebra I 2017-18 % at or above Proficient - District',
 'HS Algebra I 2017-18 % at or above Proficient - Similar District',
 'HS Algebra I 2017-18 % at or above Proficient - State',
 'HS Biology 2017-18 % at or above Proficient - District',
 'HS Biology 2017-18 % at or above Proficient - Similar District',
 'HS Biology 2017-18 % at or above Proficient - State',
 'HS English I 2017-18 % at or above Proficient - District',
 'HS English I 2017-18 % at or above Proficient - Similar District',
 'HS English I 2017-18 % at or above Proficient - State',
 'HS English II 2017-18 % at or above Proficient - District',
 'HS English II 2017-18 % at or above Proficient - Similar Distric',
 'HS English II 2017-18 % at or above Proficient - State',
 'HS Geometry 2017-18 % at or above Proficient - District',
 'HS Geometry 2017-18 % at or above Proficient - Similar District',
 'HS Geometry 2017-18 % at or above Proficient - State',
 'HS Government 2017-18 % at or above Proficient - District',
 'HS Government 2017-18 % at or above Proficient - Similar Distric',
 'HS Government 2017-18 % at or above Proficient - State',
 'HS History 2017-18 % at or above Proficient - District',
 'HS History 2017-18 % at or above Proficient - Similar District',
 'HS History 2017-18 % at or above Proficient - State',
 'HS Math I 2017-18 % at or above Proficient - District',
 'HS Math I 2017-18 % at or above Proficient - Similar District',
 'HS Math I 2017-18 % at or above Proficient - State',
 'HS Math II 2017-18 % at or above Proficient - District',
 'HS Math II 2017-18 % at or above Proficient - Similar District',
 'HS Math II 2017-18 % at or above Proficient - State',
 'HS EOC Improvement Indicator 2017-18 - District',
 'HS EOC Improvement Indicator 2017-18 - Similar District',
 'HS EOC Improvement Indicator 2017-18 - State',
 '3rd Grade Reading 2016-17 % at or above Proficient - District',
 '3rd Grade Math 2016-17 % at or above Proficient - District',
 '4th Grade Reading 2016-17 % at or above Proficient - District',
 '4th Grade Math 2016-17 % at or above Proficient - District',
 '4th Grade Social Studies 2016-17 % at or above Proficient - Dist',
 '5th Grade Reading 2016-17 % at or above Proficient - District',
 '5th Grade Math 2016-17 % at or above Proficient - District',
 '5th Grade Science 2016-17 % at or above Proficient - District',
 '6th Grade Reading 2016-17 % at or above Proficient - District',
 '6th Grade Math 2016-17 % at or above Proficient - District',
 '6th Grade Social Studies 2016-17 % at or above Proficient - Dist',
 '7th Grade Reading 2016-17 % at or above Proficient - District',
 '7th Grade Math 2016-17 % at or above Proficient - District',
 '8th Grade Reading 2016-17 % at or above Proficient - District',
 '8th Grade Math 2016-17 % at or above Proficient - District',
 '8th Grade Science 2016-17 % at or above Proficient - District',
 'HS Algebra I 2016-17 % at or above Proficient - District',
 'HS Biology 2016-17 % at or above Proficient - District',
 'HS English I 2016-17 % at or above Proficient - District',
 'HS English II 2016-17 % at or above Proficient - District',
 'HS Geometry 2016-17 % at or above Proficient - District',
 'HS Government 2016-17 % at or above Proficient - District',
 'HS History 2016-17 % at or above Proficient - District',
 'HS Math I 2016-17 % at or above Proficient - District',
 'HS Math II 2016-17 % at or above Proficient - District',
 'HS Physical Science 2016-17 % at or above Proficient - District',
 '3rd Grade Reading 2015-16 % at or above Proficient - District',
 '3rd Grade Math 2015-16 % at or above Proficient - District',
 '4th Grade Reading 2015-16 % at or above Proficient - District',
 '4th Grade Math 2015-16 % at or above Proficient - District',
 '4th Grade Social Studies 2015-16 % at or above Proficient - Dist',
 '5th Grade Reading 2015-16 % at or above Proficient - District',
 '5th Grade Math 2015-16 % at or above Proficient - District',
 '5th Grade Science 2015-16 % at or above Proficient - District',
 '6th Grade Reading 2015-16 % at or above Proficient - District',
 '6th Grade Math 2015-16 % at or above Proficient - District',
 '6th Grade Social Studies 2015-16 % at or above Proficient - Dist',
 '7th Grade Reading 2015-16 % at or above Proficient - District',
 '7th Grade Math 2015-16 % at or above Proficient - District',
 '8th Grade Reading 2015-16 % at or above Proficient - District',
 '8th Grade Math 2015-16 % at or above Proficient - District',
 '8th Grade Science 2015-16 % at or above Proficient - District',
 'Reading 2015-16 % at or above Proficient - District',
 'Math 2015-16 % at or above Proficient - District',
 'Science 2015-16 % at or above Proficient - District',
 'Social Studies 2015-16 % at or above Proficient - District',
 'Writing 2015-16 % at or above Proficient - District',
 'HS Algebra I 2015-16 % at or above Proficient - District',
 'HS Biology 2015-16 % at or above Proficient - District',
 'HS English I 2015-16 % at or above Proficient - District',
 'HS English II 2015-16 % at or above Proficient - District',
 'HS Geometry 2015-16 % at or above Proficient - District',
 'HS Government 2015-16 % at or above Proficient - District',
 'HS History 2015-16 % at or above Proficient - District',
 'HS Math I 2015-16 % at or above Proficient - District',
 'HS Math II 2015-16 % at or above Proficient - District',
 'HS Physical Science 2015-16 % at or above Proficient - District',
 'Watermark']

In [10]:
subject_regex2 = re_compile(
    r'^((3rd|\d{1,2}th) Grade Math|HS (Math|Algebra|Geometry))( [I]{1,2})? 201[67]-\d{2} % at or above Proficient - District',
    IGNORECASE
)

# columns = [(subject_regex2.search(c).group(), c) for c in list(achievement17_indicators) if subject_regex2.search(c)]
# print("There are {} columns".format(len(columns)))
# columns

math_data_columns2 = filter_indicator_columns(achievement17_indicators, subject_regex2)
math_data_columns2.remove('District Name')
math_data_columns2

['3rd Grade Math 2017-18 % at or above Proficient - District',
 '4th Grade Math 2017-18 % at or above Proficient - District',
 '5th Grade Math 2017-18 % at or above Proficient - District',
 '6th Grade Math 2017-18 % at or above Proficient - District',
 '7th Grade Math 2017-18 % at or above Proficient - District',
 '8th Grade Math 2017-18 % at or above Proficient - District',
 'HS Algebra I 2017-18 % at or above Proficient - District',
 'HS Geometry 2017-18 % at or above Proficient - District',
 'HS Math I 2017-18 % at or above Proficient - District',
 'HS Math II 2017-18 % at or above Proficient - District',
 '3rd Grade Math 2016-17 % at or above Proficient - District',
 '4th Grade Math 2016-17 % at or above Proficient - District',
 '5th Grade Math 2016-17 % at or above Proficient - District',
 '6th Grade Math 2016-17 % at or above Proficient - District',
 '7th Grade Math 2016-17 % at or above Proficient - District',
 '8th Grade Math 2016-17 % at or above Proficient - District',
 'HS Algebra I 2016-17 % at or above Proficient - District',
 'HS Geometry 2016-17 % at or above Proficient - District',
 'HS Math I 2016-17 % at or above Proficient - District',
 'HS Math II 2016-17 % at or above Proficient - District']

In [11]:
math_df1 = achievement15_indicators[math_data_columns1]
math_df1.head(5)

,District Name,Math 3rd Grade 2015-16 % at or above Proficient - District,Math 4th Grade 2015-16 % at or above Proficient - District,Math 5th Grade 2015-16 % at or above Proficient - District,Math 6th Grade 2015-16 % at or above Proficient - District,Math 7th Grade 2015-16 % at or above Proficient -District,Math 8th Grade 2015-16 % at or above Proficient -District,Math 11th Grade 2015-16 % at or above Proficient -District,HS Math I 2015-16 % at or above Proficient - District,HS Math II 2015-16 % at or above Proficient - District,...,HS Algebra I 2014-15 % at or above Proficient - District,HS Geometry 2014-15 % at or above Proficient - District,Math 3rd Grade 2013-14 % at or above Proficient - District,Math 4th Grade 2013-14 % at or above Proficient -District,Math 5th Grade 2013-14 % at or above Proficient -District,Math 6th Grade 2013-14 % at or above Proficient -District,Math 7th Grade 2013-14 % at or above Proficient -District,Math 8th Grade 2013-14 % at or above Proficient -District,Math 10th Grade 2013-14 % at or above Proficient -District,Math 11th Grade 2013-14 % at or above Proficient -District
District IRN,,,,,,,,,,,,,,,,,,,,,
442,Manchester Local,72.9,56.1,68.8,44.6,48.4,40.4,98.3,NC,NC,...,91.3,NC,76.6,72.1,59.4,79,73.6,83.1,96.5,98.1
43489,Akron City,49.8,52.9,43.1,30.7,32.7,22.7,80.3,NC,NC,...,49.9,89,68.3,63.5,51.3,48.7,48.2,60.3,62.7,81.6
43497,Alliance City,63.6,40,54.5,31.3,34.5,42.1,88.3,NC,NC,...,72.3,91.7,81.3,66.5,60.3,64.6,62.5,86.1,74.7,87.3
43505,Ashland City,65.8,77.4,74,65.8,44.5,73.5,95.8,NC,NC,...,63.5,98.6,84.6,89,70.8,85,85.1,83.8,89.1,93.9
43513,Ashtabula Area City,46.3,67.2,54.9,44.7,42.8,37.3,89.4,NC,NC,...,41.9,88.9,62.6,75.6,59.9,71.4,68.4,63.6,69,83.8

In [12]:
math_df2 = achievement17_indicators[math_data_columns2]
math_df2.head(5)

,3rd Grade Math 2017-18 % at or above Proficient - District,4th Grade Math 2017-18 % at or above Proficient - District,5th Grade Math 2017-18 % at or above Proficient - District,6th Grade Math 2017-18 % at or above Proficient - District,7th Grade Math 2017-18 % at or above Proficient - District,8th Grade Math 2017-18 % at or above Proficient - District,HS Algebra I 2017-18 % at or above Proficient - District,HS Geometry 2017-18 % at or above Proficient - District,HS Math I 2017-18 % at or above Proficient - District,HS Math II 2017-18 % at or above Proficient - District,3rd Grade Math 2016-17 % at or above Proficient - District,4th Grade Math 2016-17 % at or above Proficient - District,5th Grade Math 2016-17 % at or above Proficient - District,6th Grade Math 2016-17 % at or above Proficient - District,7th Grade Math 2016-17 % at or above Proficient - District,8th Grade Math 2016-17 % at or above Proficient - District,HS Algebra I 2016-17 % at or above Proficient - District,HS Geometry 2016-17 % at or above Proficient - District,HS Math I 2016-17 % at or above Proficient - District,HS Math II 2016-17 % at or above Proficient - District
District IRN,,,,,,,,,,,,,,,,,,,,
442,60,76.4,81.8,46.6,46.3,20.4,64.6,30.8,NC,NC,79.2,70.8,70.4,74.1,53.6,46.2,56.5,37.8,NC,NC
43489,44.1,53.3,41.5,39.1,32.5,25.8,38.5,24,NC,NC,50.9,54,38.4,33.1,27,21.5,23.4,21.5,NC,NC
43497,67.2,58.5,44.1,34.2,27.1,16.8,58.1,52.5,NC,NC,69.8,44.7,34.3,29.8,38.7,19.6,52.6,63.8,NC,NC
43505,69.5,84.1,63.5,75.1,73.3,76.1,61.9,58.1,NC,NC,69.1,76.9,75.8,66,63.3,72.6,57.4,48.7,NC,0
43513,45.8,64.5,51.1,44.1,29,39.4,34.6,20.2,0,0,48.4,62.3,47.6,47.5,30,25.1,27.8,21.2,0,0

In [13]:
all_math_df = pd.merge(math_df1, math_df2, on='District IRN')
all_math_df.head(5)

,District Name,Math 3rd Grade 2015-16 % at or above Proficient - District,Math 4th Grade 2015-16 % at or above Proficient - District,Math 5th Grade 2015-16 % at or above Proficient - District,Math 6th Grade 2015-16 % at or above Proficient - District,Math 7th Grade 2015-16 % at or above Proficient -District,Math 8th Grade 2015-16 % at or above Proficient -District,Math 11th Grade 2015-16 % at or above Proficient -District,HS Math I 2015-16 % at or above Proficient - District,HS Math II 2015-16 % at or above Proficient - District,...,3rd Grade Math 2016-17 % at or above Proficient - District,4th Grade Math 2016-17 % at or above Proficient - District,5th Grade Math 2016-17 % at or above Proficient - District,6th Grade Math 2016-17 % at or above Proficient - District,7th Grade Math 2016-17 % at or above Proficient - District,8th Grade Math 2016-17 % at or above Proficient - District,HS Algebra I 2016-17 % at or above Proficient - District,HS Geometry 2016-17 % at or above Proficient - District,HS Math I 2016-17 % at or above Proficient - District,HS Math II 2016-17 % at or above Proficient - District
District IRN,,,,,,,,,,,,,,,,,,,,,
442,Manchester Local,72.9,56.1,68.8,44.6,48.4,40.4,98.3,NC,NC,...,79.2,70.8,70.4,74.1,53.6,46.2,56.5,37.8,NC,NC
43489,Akron City,49.8,52.9,43.1,30.7,32.7,22.7,80.3,NC,NC,...,50.9,54,38.4,33.1,27,21.5,23.4,21.5,NC,NC
43497,Alliance City,63.6,40,54.5,31.3,34.5,42.1,88.3,NC,NC,...,69.8,44.7,34.3,29.8,38.7,19.6,52.6,63.8,NC,NC
43505,Ashland City,65.8,77.4,74,65.8,44.5,73.5,95.8,NC,NC,...,69.1,76.9,75.8,66,63.3,72.6,57.4,48.7,NC,0
43513,Ashtabula Area City,46.3,67.2,54.9,44.7,42.8,37.3,89.4,NC,NC,...,48.4,62.3,47.6,47.5,30,25.1,27.8,21.2,0,0

In [14]:
grade_level_math_df = pd.DataFrame(all_math_df['District Name'])
grade_level_math_df

                                   District Name
District IRN
442                             Manchester Local
43489                                 Akron City
43497                              Alliance City
43505                               Ashland City
43513                        Ashtabula Area City
43521                                Athens City
43539                             Barberton City
43547                           Bay Village City
43554                             Beachwood City
43562                               Bedford City
43570                             Bellaire Local
43588                         Bellefontaine City
43596                              Bellevue City
43604                                Belpre City
43612                                 Berea City
43620                                Bexley City
43638                         Bowling Green City
43646         Brecksville-Broadview Heights City
43653                              Brooklyn City
43661                             Brunswick City
43679                                 Bryan City
43687                               Bucyrus City
43695                             Cambridge City
43703                              Campbell City
43711                                Canton City
43729                                Celina City
43737                           Centerville City
43745                           Chillicothe City
43752                            Cincinnati City
43760                           Circleville City
...                                          ...
50450                                 Mason City
50468                                Wayne Local
50484                            Fort Frye Local
50492                             Frontier Local
50500                               Warren Local
50518                           Wolf Creek Local
50534                             Chippewa Local
50542                               Dalton Local
50559                                Green Local
50567                             Norwayne Local
50575                         Northwestern Local
50583                            Southeast Local
50591                               Triway Local
50617                             Edgerton Local
50625                       Edon Northwest Local
50633                 Millcreek-West Unity Local
50641                        North Central Local
50658                              Stryker Local
50674                             Eastwood Local
50682                              Elmwood Local
50690                                 Lake Local
50708                      North Baltimore Local
50716                    Northwood Local Schools
50724                               Otsego Local
50740                               Mohawk Local
61903             Adams County Ohio Valley Local
65680                        Gallia County Local
69682                        East Guernsey Local
91397                     Tri-County North Local
139303                              Monroe Local

[608 rows x 1 columns]

In [15]:
def grade_level_filter(data_frame):
    
    grade_regex = re_compile(r'(\d{1,2})(rd|th)', IGNORECASE)
    
    year_regex = re_compile(r'(\d{4})-\d{2}')
    
    columns_out = []
    
    for column_name in list(data_frame):
        
        grade_match = grade_regex.search(column_name)
        if not grade_match:
            continue

        year_match = year_regex.search(column_name)
        if not year_match:
            continue
            
        colum_name_out = "grade-{} {}".format(
            grade_match.group(1),
            year_match.group(1),
        )
            
        columns_out.append((column_name, colum_name_out))
        
    return columns_out

grade_columns = grade_level_filter(all_math_df)
grade_columns

[('Math 3rd Grade 2015-16 % at or above Proficient - District',
  'grade-3 2015'),
 ('Math 4th Grade 2015-16 % at or above Proficient - District',
  'grade-4 2015'),
 ('Math 5th Grade 2015-16 % at or above Proficient - District',
  'grade-5 2015'),
 ('Math 6th Grade 2015-16 % at or above Proficient - District',
  'grade-6 2015'),
 ('Math 7th Grade 2015-16 % at or above Proficient -District', 'grade-7 2015'),
 ('Math 8th Grade 2015-16 % at or above Proficient -District', 'grade-8 2015'),
 ('Math 11th Grade 2015-16 % at or above Proficient -District',
  'grade-11 2015'),
 ('Math 3rd Grade 2014-15 % at or above Proficient - District',
  'grade-3 2014'),
 ('Math 4th Grade 2014-15 % at or above Proficient -District', 'grade-4 2014'),
 ('Math 5th Grade 2014-15 % at or above Proficient -District', 'grade-5 2014'),
 ('Math 6th Grade 2014-15 % at or above Proficient -District', 'grade-6 2014'),
 ('Math 7th Grade 2014-15 % at or above Proficient -District', 'grade-7 2014'),
 ('Math 8th Grade 2014-15 % at or above Proficient -District', 'grade-8 2014'),
 ('Math 10th Grade 2014-15 % at or above Proficient -District',
  'grade-10 2014'),
 ('Math 11th Grade 2014-15 % at or above Proficient -District',
  'grade-11 2014'),
 ('Math 3rd Grade 2013-14 % at or above Proficient - District',
  'grade-3 2013'),
 ('Math 4th Grade 2013-14 % at or above Proficient -District', 'grade-4 2013'),
 ('Math 5th Grade 2013-14 % at or above Proficient -District', 'grade-5 2013'),
 ('Math 6th Grade 2013-14 % at or above Proficient -District', 'grade-6 2013'),
 ('Math 7th Grade 2013-14 % at or above Proficient -District', 'grade-7 2013'),
 ('Math 8th Grade 2013-14 % at or above Proficient -District', 'grade-8 2013'),
 ('Math 10th Grade 2013-14 % at or above Proficient -District',
  'grade-10 2013'),
 ('Math 11th Grade 2013-14 % at or above Proficient -District',
  'grade-11 2013'),
 ('3rd Grade Math 2017-18 % at or above Proficient - District',
  'grade-3 2017'),
 ('4th Grade Math 2017-18 % at or above Proficient - District',
  'grade-4 2017'),
 ('5th Grade Math 2017-18 % at or above Proficient - District',
  'grade-5 2017'),
 ('6th Grade Math 2017-18 % at or above Proficient - District',
  'grade-6 2017'),
 ('7th Grade Math 2017-18 % at or above Proficient - District',
  'grade-7 2017'),
 ('8th Grade Math 2017-18 % at or above Proficient - District',
  'grade-8 2017'),
 ('3rd Grade Math 2016-17 % at or above Proficient - District',
  'grade-3 2016'),
 ('4th Grade Math 2016-17 % at or above Proficient - District',
  'grade-4 2016'),
 ('5th Grade Math 2016-17 % at or above Proficient - District',
  'grade-5 2016'),
 ('6th Grade Math 2016-17 % at or above Proficient - District',
  'grade-6 2016'),
 ('7th Grade Math 2016-17 % at or above Proficient - District',
  'grade-7 2016'),
 ('8th Grade Math 2016-17 % at or above Proficient - District',
  'grade-8 2016')]

In [16]:
for old_name, new_name in grade_columns:
    grade_level_math_df[new_name] = all_math_df[old_name]
grade_level_math_df.head(5)

,District Name,grade-3 2015,grade-4 2015,grade-5 2015,grade-6 2015,grade-7 2015,grade-8 2015,grade-11 2015,grade-3 2014,grade-4 2014,...,grade-5 2017,grade-6 2017,grade-7 2017,grade-8 2017,grade-3 2016,grade-4 2016,grade-5 2016,grade-6 2016,grade-7 2016,grade-8 2016
District IRN,,,,,,,,,,,,,,,,,,,,,
442,Manchester Local,72.9,56.1,68.8,44.6,48.4,40.4,98.3,65.6,36.1,...,81.8,46.6,46.3,20.4,79.2,70.8,70.4,74.1,53.6,46.2
43489,Akron City,49.8,52.9,43.1,30.7,32.7,22.7,80.3,60.4,55.7,...,41.5,39.1,32.5,25.8,50.9,54,38.4,33.1,27,21.5
43497,Alliance City,63.6,40,54.5,31.3,34.5,42.1,88.3,65,48.5,...,44.1,34.2,27.1,16.8,69.8,44.7,34.3,29.8,38.7,19.6
43505,Ashland City,65.8,77.4,74,65.8,44.5,73.5,95.8,70.3,74.8,...,63.5,75.1,73.3,76.1,69.1,76.9,75.8,66,63.3,72.6
43513,Ashtabula Area City,46.3,67.2,54.9,44.7,42.8,37.3,89.4,43.2,70.2,...,51.1,44.1,29,39.4,48.4,62.3,47.6,47.5,30,25.1

In [23]:
cohort_columns = ['District Name']
for i in range(5):
    grade = 3 + i
    year = 2013 + i
    cohort_columns.append("grade-{} {}".format(grade, year))
print(cohort_columns)

['District Name', 'grade-3 2013', 'grade-4 2014', 'grade-5 2015', 'grade-6 2016', 'grade-7 2017']

In [28]:
cohort_df = grade_level_math_df[cohort_columns]
cohort_df.head(5)

,District Name,grade-3 2013,grade-4 2014,grade-5 2015,grade-6 2016,grade-7 2017
District IRN,,,,,,
442,Manchester Local,76.6,36.1,68.8,74.1,46.3
43489,Akron City,68.3,55.7,43.1,33.1,32.5
43497,Alliance City,81.3,48.5,54.5,29.8,27.1
43505,Ashland City,84.6,74.8,74,66,73.3
43513,Ashtabula Area City,62.6,70.2,54.9,47.5,29

In [29]:
grade_level_math_df['District Name'].head(5)

District IRN
442         Manchester Local
43489             Akron City
43497          Alliance City
43505           Ashland City
43513    Ashtabula Area City
Name: District Name, dtype: object

In [37]:
foo = pd.DataFrame({
    '2013': cohort_df['grade-3 2013'],
    '2014': cohort_df['grade-4 2014'],
    '2015': cohort_df['grade-5 2015'],
    '2016': cohort_df['grade-6 2016'],
    '2017': cohort_df['grade-7 2017'],
}).T
foo

District IRN,442,43489,43497,43505,43513,43521,43539,43547,43554,43562,...,50690,50708,50716,50724,50740,61903,65680,69682,91397,139303
2013,76.6,68.3,81.3,84.6,62.6,80.9,74.7,94.6,95.2,73.1,...,90.2,90.5,73,84,78.6,80.7,80,81.4,87.3,91.4
2014,36.1,55.7,48.5,74.8,70.2,60,61.4,90.2,89.5,65.5,...,77.9,78.9,55.7,58.3,73.1,41.1,49.7,70.3,53.7,77.9
2015,68.8,43.1,54.5,74,54.9,64.5,56.7,98.4,93.3,49.4,...,72.6,56.5,63.1,57.4,70.5,54.9,64.9,52.1,40,86.7
2016,74.1,33.1,29.8,66,47.5,60.8,57.4,91.5,93.4,42.1,...,58.1,62.2,70.8,47.3,68.8,41.1,53.1,78.3,57.6,74.8
2017,46.3,32.5,27.1,73.3,29,61.8,52.1,94.7,86.8,54.4,...,64.6,63.4,53,70.8,67.6,51.1,55.8,74.2,48.3,76.3

In [54]:
pd.read_excel(
    '1516_DIST_ACH2.xls', 
    sheet_name=1,
    names=['District Name', 'grade-5 2015', 'grade-4 2014', 'grade3-2013'],
    index_col='District IRN', 
    usecols="A:B,AF,DF,EM",
    dtype={
        'District Name': object,
        'grade-5 2015': np.float64,
        'grade-4 2014': np.float64,
        'grade-3 2013': np.float64,
    },
)

,District Name,grade-5 2015,grade-4 2014,grade3-2013
District IRN,,,,
442,Manchester Local,68.8,36.1,76.6
43489,Akron City,43.1,55.7,68.3
43497,Alliance City,54.5,48.5,81.3
43505,Ashland City,74,74.8,84.6
43513,Ashtabula Area City,54.9,70.2,62.6
43521,Athens City,64.5,60,80.9
43539,Barberton City,56.7,61.4,74.7
43547,Bay Village City,98.4,90.2,94.6
43554,Beachwood City,93.3,89.5,95.2
43562,Bedford City,49.4,65.5,73.1
43570,Bellaire Local,78,51.7,89.6
43588,Bellefontaine City,63.4,70.7,84.2
43596,Bellevue City,74.6,73.4,92.3
43604,Belpre City,79.7,84,88
43612,Berea City,46,64.9,89.5
43620,Bexley City,71.8,83.4,97.5
43638,Bowling Green City,67.9,70,86.6
43646,Brecksville-Broadview Heights City,90.8,90.1,92.8
43653,Brooklyn City,53.3,54.6,66.7
43661,Brunswick City,74.4,71.7,90.4
43679,Bryan City,70.9,71.9,85
43687,Bucyrus City,47,46.5,75.4
43695,Cambridge City,69.1,68.7,78.2
43703,Campbell City,21.5,35.8,52.7
43711,Canton City,45.8,50.6,66
43729,Celina City,72,69.3,89
43737,Centerville City,76.9,82.8,89.8
43745,Chillicothe City,59.6,59.1,81.2
43752,Cincinnati City,41.7,48,68
43760,Circleville City,61.7,70.5,84.7
...,...,...,...,...
50450,Mason City,92.4,89.8,96.1
50468,Wayne Local,91.1,89.6,91.3
50484,Fort Frye Local,71.6,83.3,93.8
50492,Frontier Local,32,46.9,86.5
50500,Warren Local,56.6,66.7,84.3
50518,Wolf Creek Local,78,45.2,86
50534,Chippewa Local,80,95.7,92.9
50542,Dalton Local,73.3,79.7,90
50559,Green Local,77.3,75,95.3
50567,Norwayne Local,86.8,85.6,95.9
50575,Northwestern Local,74.5,80,89.5
50583,Southeast Local,84.9,75.2,89
50591,Triway Local,86.3,75.4,93.5
50617,Edgerton Local,74.4,74.4,86
50625,Edon Northwest Local,87.8,90.7,100
50633,Millcreek-West Unity Local,57.1,58.6,91.4
50641,North Central Local,77.6,87.2,81.3
50658,Stryker Local,65.6,80.6,97.2
50674,Eastwood Local,86.1,85.7,87.9
50682,Elmwood Local,83.9,82.2,87.9
50690,Lake Local,72.6,77.9,90.2
50708,North Baltimore Local,56.5,78.9,90.5
50716,Northwood Local Schools,63.1,55.7,73
50724,Otsego Local,57.4,58.3,84
50740,Mohawk Local,70.5,73.1,78.6
61903,Adams County Ohio Valley Local,54.9,41.1,80.7
65680,Gallia County Local,64.9,49.7,80
69682,East Guernsey Local,52.1,70.3,81.4
91397,Tri-County North Local,40,53.7,87.3
139303,Monroe Local,86.7,77.9,91.4

In [40]:
help(pd.read_excel)

Help on function read_excel in module pandas.io.excel:

read_excel(io, sheet_name=0, header=0, names=None, index_col=None, usecols=None, squeeze=False, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skiprows=None, nrows=None, na_values=None, parse_dates=False, date_parser=None, thousands=None, comment=None, skipfooter=0, convert_float=True, **kwds)
    Read an Excel table into a pandas DataFrame

    Parameters
    ----------
    io : string, path object (pathlib.Path or py._path.local.LocalPath),
        file-like object, pandas ExcelFile, or xlrd workbook.
        The string could be a URL. Valid URL schemes include http, ftp, s3,
        and file. For file URLs, a host is expected. For instance, a local
        file could be file://localhost/path/to/workbook.xlsx
    sheet_name : string, int, mixed list of strings/ints, or None, default 0

        Strings are used for sheet names, Integers are used in zero-indexed
        sheet positions.

        Lists of strings/integers are used to request multiple sheets.

        Specify None to get all sheets.

        str|int -> DataFrame is returned.
        list|None -> Dict of DataFrames is returned, with keys representing
        sheets.

        Available Cases

        * Defaults to 0 -> 1st sheet as a DataFrame
        * 1 -> 2nd sheet as a DataFrame
        * "Sheet1" -> 1st sheet as a DataFrame
        * [0,1,"Sheet5"] -> 1st, 2nd & 5th sheet as a dictionary of DataFrames
        * None -> All sheets as a dictionary of DataFrames

    sheetname : string, int, mixed list of strings/ints, or None, default 0

        .. deprecated:: 0.21.0
           Use `sheet_name` instead

    header : int, list of ints, default 0
        Row (0-indexed) to use for the column labels of the parsed
        DataFrame. If a list of integers is passed those row positions will
        be combined into a ``MultiIndex``. Use None if there is no header.
    names : array-like, default None
        List of column names to use. If file contains no header row,
        then you should explicitly pass header=None
    index_col : int, list of ints, default None
        Column (0-indexed) to use as the row labels of the DataFrame.
        Pass None if there is no such column.  If a list is passed,
        those columns will be combined into a ``MultiIndex``.  If a
        subset of data is selected with ``usecols``, index_col
        is based on the subset.
    parse_cols : int or list, default None

        .. deprecated:: 0.21.0
           Pass in `usecols` instead.

    usecols : int or list, default None
        * If None then parse all columns,
        * If int then indicates last column to be parsed
        * If list of ints then indicates list of column numbers to be parsed
        * If string then indicates comma separated list of Excel column letters and
          column ranges (e.g. "A:E" or "A,C,E:F").  Ranges are inclusive of
          both sides.
    squeeze : boolean, default False
        If the parsed data only contains one column then return a Series
    dtype : Type name or dict of column -> type, default None
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
        Use `object` to preserve data as stored in Excel and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.

        .. versionadded:: 0.20.0

    engine: string, default None
        If io is not a buffer or path, this must be set to identify io.
        Acceptable values are None or xlrd
    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can
        either be integers or column labels, values are functions that take one
        input argument, the Excel cell content, and return the transformed
        content.
    true_values : list, default None
        Values to consider as True

        .. versionadded:: 0.19.0

    false_values : list, default None
        Values to consider as False

        .. versionadded:: 0.19.0

    skiprows : list-like
        Rows to skip at the beginning (0-indexed)
    nrows : int, default None
        Number of rows to parse

        .. versionadded:: 0.23.0

    na_values : scalar, str, list-like, or dict, default None
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values. By default the following values are interpreted
        as NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
        'null'.
    keep_default_na : bool, default True
        If na_values are specified and keep_default_na is False the default NaN
        values are overridden, otherwise they're appended to.
    verbose : boolean, default False
        Indicate number of NA values placed in non-numeric columns
    thousands : str, default None
        Thousands separator for parsing string columns to numeric.  Note that
        this parameter is only necessary for columns stored as TEXT in Excel,
        any numeric columns will automatically be parsed, regardless of display
        format.
    comment : str, default None
        Comments out remainder of line. Pass a character or characters to this
        argument to indicate comments in the input file. Any data between the
        comment string and the end of the current line is ignored.
    skip_footer : int, default 0

        .. deprecated:: 0.23.0
           Pass in `skipfooter` instead.
    skipfooter : int, default 0
        Rows at the end to skip (0-indexed)
    convert_float : boolean, default True
        convert integral floats to int (i.e., 1.0 --> 1). If False, all numeric
        data will be read in as floats: Excel stores all numbers as floats
        internally

    Returns
    -------
    parsed : DataFrame or Dict of DataFrames
        DataFrame from the passed in Excel file.  See notes in sheet_name
        argument for more information on when a Dict of Dataframes is returned.

    Examples
    --------

    An example DataFrame written to a local file

    >>> df_out = pd.DataFrame([('string1', 1),
    ...                        ('string2', 2),
    ...                        ('string3', 3)],
    ...                       columns=['Name', 'Value'])
    >>> df_out
          Name  Value
    0  string1      1
    1  string2      2
    2  string3      3
    >>> df_out.to_excel('tmp.xlsx')

    The file can be read using the file name as string or an open file object:

    >>> pd.read_excel('tmp.xlsx')
          Name  Value
    0  string1      1
    1  string2      2
    2  string3      3

    >>> pd.read_excel(open('tmp.xlsx','rb'))
          Name  Value
    0  string1      1
    1  string2      2
    2  string3      3

    Index and header can be specified via the `index_col` and `header` arguments

    >>> pd.read_excel('tmp.xlsx', index_col=None, header=None)
         0        1      2
    0  NaN     Name  Value
    1  0.0  string1      1
    2  1.0  string2      2
    3  2.0  string3      3

    Column types are inferred but can be explicitly specified

    >>> pd.read_excel('tmp.xlsx', dtype={'Name':str, 'Value':float})
          Name  Value
    0  string1    1.0
    1  string2    2.0
    2  string3    3.0

    True, False, and NA values, and thousands separators have defaults,
    but can be explicitly specified, too. Supply the values you would like
    as strings or lists of strings!

    >>> pd.read_excel('tmp.xlsx',
    ...               na_values=['string1', 'string2'])
          Name  Value
    0      NaN      1
    1      NaN      2
    2  string3      3

    Comment lines in the excel input file can be skipped using the `comment` kwarg

    >>> df = pd.DataFrame({'a': ['1', '#2'], 'b': ['2', '3']})
    >>> df.to_excel('tmp.xlsx', index=False)
    >>> pd.read_excel('tmp.xlsx')
        a  b
    0   1  2
    1  #2  3

    >>> pd.read_excel('tmp.xlsx', comment='#')
       a  b
    0  1  2