https://reportcard.education.ohio.gov/

https://reportcard.education.ohio.gov/download

District Achievement reports
* 1516_DIST_ACH2.xls
* 1617_DISTRICT_ACHIEVEMENT.xls
* 17-18_Achievement_District.xlsx

Note these workbooks, have multiple sheets in them

In [36]:
import pandas as pd

In [37]:
achievement15_index = pd.read_excel('1516_DIST_ACH2.xls', sheet_name=0)
achievement15_index.head(5)

,District IRN,District Name,County,Region,Address,City and Zip,Phone #,Superintendent,Performance Index Score 2015-16,Performance Index Score 2014-15,...,Gifted Performance Index Score 2015-16,Gifted Performance Index 2015-16,Percent of Gifted Students Not Tested,Percent of Gifted Students Below,Percent of Gifted Students Basic,Percent of Gifted Students Proficient,Percent of Gifted Students Accelerated,Percent of Gifted Students Advanced,Percent of Gifted Students Advanced Plus,Watermark
0,442,Manchester Local,Adams,Region 14,130 Wayne Frye Dr,"Manchester, OH, 45144-9314",(937) 549-4777,Charles J. Shreve,82.759,86.028,...,113.404,94.5,0.0,0.0,2.1,8.5,36.2,53.2,0.0,NaN
1,43489,Akron City,Summit,Region 8,70 N Broadway St,"Akron, OH, 44308-1911",(330) 761-1661,David W. James,65.905,80.663,...,111.779,93.1,0.5,1.3,3.0,10.8,26.1,56.5,1.8,NaN
2,43497,Alliance City,Stark,Region 9,200 Glamorgan St,"Alliance, OH, 44601-2946",(330) 821-2100,Jeffery S. Talbert,72.322,83.655,...,112.955,94.1,0.0,1.2,2.8,13.4,21.5,55.5,5.7,NaN
3,43505,Ashland City,Ashland,Region 7,PO Box 160,"Ashland, OH, 44805-0160",(419) 289-1117,Douglas J. Marrah,86.009,91.340,...,114.115,95.1,0.0,0.5,2.0,9.0,28.4,56.2,3.9,NaN
4,43513,Ashtabula Area City,Ashtabula,Region 5,2630 W 13th St,"Ashtabula, OH, 44004-2405",(440) 992-1201,Melissa D. Watson,71.076,79.289,...,111.503,92.9,0.0,0.5,3.1,14.5,32.6,49.2,0.0,NaN

In [38]:
list(achievement15_index)

['District IRN',
 'District Name',
 'County',
 'Region',
 'Address',
 'City and Zip',
 'Phone #',
 'Superintendent',
 'Performance Index Score 2015-16',
 'Performance Index Score 2014-15',
 'Performance Index Score 2013-14',
 'Performance Index Percent 2015-16',
 'Letter Grade of Performance Index',
 'Percent of Students Not Tested',
 'Percent of Students Below',
 'Percent of Students Basic',
 'Percent of Students Proficient',
 'Percent of Students Accelerated',
 'Percent of Students Advanced',
 'Percent of Students Advanced Plus',
 'Gifted Performance Index Score 2015-16',
 'Gifted Performance Index 2015-16',
 'Percent of Gifted Students Not Tested',
 'Percent of Gifted Students Below',
 'Percent of Gifted Students Basic',
 'Percent of Gifted Students Proficient',
 'Percent of Gifted Students Accelerated',
 'Percent of Gifted Students Advanced',
 'Percent of Gifted Students Advanced Plus',
 'Watermark']

In [39]:
# Omit contact info and information on gifted students
columns_of_interest = [
    'District IRN', 
    'District Name', 
    'County', 
    'Region',
    'Performance Index Score 2015-16',
    'Performance Index Score 2014-15',
    'Performance Index Score 2013-14', 
    'Performance Index Percent 2015-16',
    'Letter Grade of Performance Index',
    'Percent of Students Not Tested',
    'Percent of Students Below', 
    'Percent of Students Basic',
    'Percent of Students Proficient', 
    'Percent of Students Accelerated',
    'Percent of Students Advanced', 
    'Percent of Students Advanced Plus',
]
temp = achievement15_index[columns_of_interest]
temp.head()

,District IRN,District Name,County,Region,Performance Index Score 2015-16,Performance Index Score 2014-15,Performance Index Score 2013-14,Performance Index Percent 2015-16,Letter Grade of Performance Index,Percent of Students Not Tested,Percent of Students Below,Percent of Students Basic,Percent of Students Proficient,Percent of Students Accelerated,Percent of Students Advanced,Percent of Students Advanced Plus
0,442,Manchester Local,Adams,Region 14,82.759,86.028,97.908,69.0,D,0.1,17.6,22.3,29.9,19.1,11.0,0.0
1,43489,Akron City,Summit,Region 8,65.905,80.663,83.524,54.9,D,0.6,38.8,22.4,19.3,11.3,7.4,0.1
2,43497,Alliance City,Stark,Region 9,72.322,83.655,91.131,60.3,D,0.0,32.1,21.7,22.6,13.1,10.0,0.5
3,43505,Ashland City,Ashland,Region 7,86.009,91.340,100.594,71.7,C,0.2,18.6,16.8,24.1,21.9,17.7,0.6
4,43513,Ashtabula Area City,Ashtabula,Region 5,71.076,79.289,88.246,59.2,D,0.8,31.7,22.4,22.6,15.1,7.5,0.0

In [48]:
achievement15_index[achievement15_index['Letter Grade of Performance Index'] == 'F']

,District IRN,District Name,County,Region,Address,City and Zip,Phone #,Superintendent,Performance Index Score 2015-16,Performance Index Score 2014-15,...,Gifted Performance Index Score 2015-16,Gifted Performance Index 2015-16,Percent of Gifted Students Not Tested,Percent of Gifted Students Below,Percent of Gifted Students Basic,Percent of Gifted Students Proficient,Percent of Gifted Students Accelerated,Percent of Gifted Students Advanced,Percent of Gifted Students Advanced Plus,Watermark
31,43786,Cleveland Municipal,Cuyahoga,Region 3,1111 Superior Ave E,"Cleveland, OH, 44114-2522",(216) 574-8000,Eric S. Gordon,55.123,66.910,...,98.127,81.8,0.2,9.9,9.8,22.4,24.6,31.8,1.2,NaN
37,43844,Dayton City,Montgomery,Region 10,115 S Ludlow St,"Dayton, OH, 45402-1812",(937) 542-3000,Rhonda A. Corr,55.459,62.921,...,104.4,87,0.3,4.0,8.3,20.3,30.0,34.3,3.0,NaN
43,43901,East Cleveland City,Cuyahoga,Region 3,1843 Stanwood Rd,"East Cleveland, OH, 44112-2901",(216) 268-6570,Myrna L. Corley,52.114,66.772,...,86.134,71.8,0.0,16.0,18.5,29.4,25.2,10.9,0.0,NaN
76,44230,Lockland Local,Hamilton,Region 13,210 N Cooper Ave,"Cincinnati, OH, 45215-3011",(513) 563-5000,Frederick T. Jebens,57.721,64.584,...,NC,NC,0.0,25.0,25.0,0.0,25.0,25.0,0.0,NaN
153,45005,Warrensville Heights City,Cuyahoga,Region 3,4500 Warrensville Center Rd,"Warrensville Heights, OH, 44128-4134",(216) 865-4717,Donald J. Jolly,52.757,70.803,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
169,45161,Youngstown City,Mahoning,Region 5,PO Box 550,"Youngstown, OH, 44501-0550",(330) 744-6915,Stephen A. Stohla,57.819,68.930,...,105.522,87.9,0.0,1.5,6.0,29.9,35.8,26.9,0.0,NaN
440,48694,Trotwood-Madison City,Montgomery,Region 10,3594 N Snyder Rd,"Trotwood, OH, 45426-3835",(937) 854-3050,Kevin A. Bell,54.135,73.942,...,89.439,74.5,0.0,12.1,20.6,24.3,24.3,18.7,0.0,NaN

In [40]:
achievement15_indicators = pd.read_excel('1516_DIST_ACH2.xls', sheet_name=1)
achievement15_indicators.head(5)

,District IRN,District Name,County,Region,Address,City and Zip Code,Phone #,Superintendent,Number of Standards Met,Number of Standards Possible,...,Math 10th Grade 2013-14 % at or above Proficient -District,Science 10th Grade 2013-14 % at or above Proficient - District,Social Studies 10th Grade 2013-14 % at or above Proficient - District,Writing 10th Grade 2013-14 % at or above Proficient - District,Reading 11th Grade 2013-14 % at or above Proficient -District,Math 11th Grade 2013-14 % at or above Proficient -District,Science 11th Grade 2013-14 % at or above Proficient - District,Social Studies 11th Grade 2013-14 % at or above Proficient - District,Writing 11th Grade 2013-14 % at or above Proficient - District,Watermark
0,442,Manchester Local,Adams,Region 14,130 Wayne Frye Dr,"Manchester, OH, 45144-9314",(937) 549-4777,Charles J. Shreve,8,29,...,96.5,80.7,100,94.7,98.1,98.1,94.2,98.1,98.1,NaN
1,43489,Akron City,Summit,Region 8,70 N Broadway St,"Akron, OH, 44308-1911",(330) 761-1661,David W. James,1,29,...,62.7,56.2,66.5,73.8,88,81.6,73,80.5,86.1,NaN
2,43497,Alliance City,Stark,Region 9,200 Glamorgan St,"Alliance, OH, 44601-2946",(330) 821-2100,Jeffery S. Talbert,6,29,...,74.7,65.7,77,83.7,90.9,87.3,85.5,90.9,88.5,NaN
3,43505,Ashland City,Ashland,Region 7,PO Box 160,"Ashland, OH, 44805-0160",(419) 289-1117,Douglas J. Marrah,12,29,...,89.1,86.3,89.8,92.9,97.5,93.9,93.5,94.7,95.1,NaN
4,43513,Ashtabula Area City,Ashtabula,Region 5,2630 W 13th St,"Ashtabula, OH, 44004-2405",(440) 992-1201,Melissa D. Watson,4,32,...,69,64.4,70.7,77.8,90,83.8,74.5,82.6,88.8,NaN

In [41]:
list(achievement15_indicators)

['District IRN',
 'District Name',
 'County',
 'Region',
 'Address',
 'City and Zip Code',
 'Phone #',
 'Superintendent',
 'Number of Standards Met',
 'Number of Standards Possible',
 'Percent of Standards Met',
 'Letter Grade of Standards Met',
 'Gifted Indicator',
 'Reading 3rd Grade 2015-16 % at or above Proficient - District',
 'Reading 3rd Grade 2015-16 % at or above Proficient - Similar District Avg',
 'Reading 3rd Grade 2015-16 % at or above Proficient - State',
 'Math 3rd Grade 2015-16 % at or above Proficient - District',
 'Math 3rd Grade 2015-16 % at or above Proficient -Similar District Avg',
 'Math 3rd Grade 2015-16 % at or above Proficient - State',
 'Reading 4th Grade 2015-16 % at or above Proficient - District',
 'Reading 4th Grade 2015-16 % at or above Proficient -Similar Distric Avg',
 'Reading 4th Grade 2015-16 % at or above Proficient -State',
 'Math 4th Grade 2015-16 % at or above Proficient - District',
 'Math 4th Grade 2015-16 % at or above Proficient -Similar District Avg',
 'Math 4th Grade 2015-16 % at or above Proficient -State',
 'Social Studies 4th Grade 2015-16 % at or above Proficient -  District',
 'Social Studies 4th Grade 2015-16 % at or above Proficient - Similar District Avg',
 'Social Studies 4th Grade 2015-16 % at or above Proficient - State',
 'Reading 5th Grade 2015-16 % at or above Proficient - District',
 'Reading 5th Grade 2015-16 % at or above Proficient -Similar District Avg',
 'Reading 5th Grade 2015-16 % at or above Proficient -State',
 'Math 5th Grade 2015-16 % at or above Proficient - District',
 'Math 5th Grade 2015-16 % at or above Proficient -Similar District Avg',
 'Math 5th Grade 2015-16 % at or above Proficient -State',
 'Science 5th Grade 2015-16 % at or above Proficient -  District',
 'Science 5th Grade 2015-16 % at or above Proficient - Similar District Avg',
 'Science 5th Grade 2015-16 % at or above Proficient - State',
 'Reading 6th Grade 2015-16 % at or above Proficient - District',
 'Reading 6th Grade 2015-16 % at or above Proficient -Similar District Avg',
 'Reading 6th Grade 2015-16 % at or above Proficient -State',
 'Math 6th Grade 2015-16 % at or above Proficient - District',
 'Math 6th Grade 2015-16 % at or above Proficient -Similar District Avg',
 'Math 6th Grade 2015-16 % at or above Proficient -State',
 'Social Studies 6th Grade 2015-16 % at or above Proficient -  District',
 'Social Studies 6th Grade 2015-16 % at or above Proficient - Similar District Avg',
 'Social Studies 6th Grade 2015-16 % at or above Proficient - State',
 'Reading 7th Grade 2015-16 % at or above Proficient - District',
 'Reading 7th Grade 2015-16 % at or above Proficient -Similar District Avg',
 'Reading 7th Grade 2015-16 % at or above Proficient -State',
 'Math 7th Grade 2015-16 % at or above Proficient -District',
 'Math 7th Grade 2015-16 % at or above Proficient -Similar District Avg',
 'Math 7th Grade 2015-16 % at or above Proficient -State',
 'Reading 8th Grade 2015-16 % at or above Proficient -District',
 'Reading 8th Grade 2015-16 % at or above Proficient -Similar District Avg',
 'Reading 8th Grade 2015-16 % at or above Proficient -State',
 'Math 8th Grade 2015-16 % at or above Proficient -District',
 'Math 8th Grade 2015-16 % at or above Proficient - Similar District Avg',
 'Math 8th Grade 2015-16 % at or above Proficient -State',
 'Science 8th Grade 2015-16 % at or above Proficient - District',
 'Science 8th Grade 2015-16 % at or above Proficient - Similar District Avg',
 'Science 8th Grade 2015-16 % at or above Proficient - State',
 'Reading 11th Grade 2015-16 % at or above Proficient -District',
 'Reading 11th Grade 2015-16 % at or above Proficient -Similar District Avg',
 'Reading 11th Grade 2015-16 % at or above Proficient -State',
 'Math 11th Grade 2015-16 % at or above Proficient -District',
 'Math 11th Grade 2015-16 % at or above Proficient -Similar District Avg',
 'Math 11th Grade 2015-16 % at or above Proficient -State',
 'Science 11th Grade 2015-16 % at or above Proficient - District',
 'Science 11th Grade 2015-16 % at or above Proficient - Similar District Avg',
 'Science 11th Grade 2015-16 % at or above Proficient - State',
 'Social Studies 11th Grade 2015-16 % at or above Proficient - District',
 'Social Studies 11th Grade 2015-16 % at or above Proficient - Similar District Avg',
 'Social Studies 11th Grade 2015-16 % at or above Proficient - State',
 'Writing 11th Grade 2015-16 % at or above Proficient - District',
 'Writing 11th Grade 2015-16 % at or above Proficient - Similar District Avg',
 'Writing 11th Grade 2015-16 % at or above Proficient - State',
 'HS English I 2015-16 % at or above Proficient - District',
 'HS English I 2015-16 % at or above Proficient - Similar District Avg',
 'HS English I 2015-16 % at or above Proficient - State',
 'HS English II 2015-16 % at or above Proficient - District',
 'HS English II 2015-16 % at or above Proficient - Similar District Avg',
 'HS English II 2015-16 % at or above Proficient - State',
 'HS Math I 2015-16 % at or above Proficient - District',
 'HS Math I 2015-16 % at or above Proficient - Similar District Avg',
 'HS Math I 2015-16 % at or above Proficient - State',
 'HS Math II 2015-16 % at or above Proficient - District',
 'HS Math II 2015-16 % at or above Proficient - Similar District Avg',
 'HS Math II 2015-16 % at or above Proficient - State',
 'HS Algebra I 2015-16 % at or above Proficient - District',
 'HS Algebra I 2015-16 % at or above Proficient - Similar District Avg',
 'HS Algebra I 2015-16 % at or above Proficient - State',
 'HS Geometry 2015-16 % at or above Proficient - District',
 'HS Geometry 2015-16 % at or above Proficient - Similar District Avg',
 'HS Geometry 2015-16 % at or above Proficient - State',
 'HS Biology 2015-16 % at or above Proficient - District',
 'HS Biology 2015-16 % at or above Proficient - Similar Districts Avg',
 'HS Biology 2015-16 % at or above Proficient - State',
 'HS Physical Science 2015-16 % at or above Proficient - District',
 'HS Physical Science 2015-16 % at or above Proficient - Similar District Avg',
 'HS Physical Science 2015-16 % at or above Proficient - State',
 'HS Government 2015-16 % at or above Proficient - District',
 'HS Government 2015-16 % at or above Proficient - Similar District Avg',
 'HS Government 2015-16 % at or above Proficient - State',
 'HS History 2015-16 % at or above Proficient - District',
 'HS History 2015-16 % at or above Proficient - Similar District Avg',
 'HS History 2015-16 % at or above Proficient - State',
 'Reading 3rd Grade 2014-15 % at or above Proficient - District',
 'Math 3rd Grade 2014-15 % at or above Proficient - District',
 'Reading 4th Grade 2014-15 % at or above Proficient -District',
 'Math 4th Grade 2014-15 % at or above Proficient -District',
 'Social Studies 4th Grade 2014-15 % at or above Proficient - District',
 'Reading 5th Grade 2014-15 % at or above Proficient -District',
 'Math 5th Grade 2014-15 % at or above Proficient -District',
 'Science 5th Grade 2014-15 % at or above Proficient - District',
 'Reading 6th Grade 2014-15 % at or above Proficient -District',
 'Math 6th Grade 2014-15 % at or above Proficient -District',
 'Social Studies 6th Grade 2014-15 % at or above Proficient - District',
 'Reading 7th Grade 2014-15 % at or above Proficient -District',
 'Math 7th Grade 2014-15 % at or above Proficient -District',
 'Reading 8th Grade 2014-15 % at or above Proficient -District',
 'Math 8th Grade 2014-15 % at or above Proficient -District',
 'Science 8th Grade 2014-15 % at or above Proficient - District',
 'Reading 10th Grade 2014-15 % at or above Proficient -District',
 'Math 10th Grade 2014-15 % at or above Proficient -District',
 'Science 10th Grade 2014-15 % at or above Proficient - District',
 'Social Studies 10th Grade 2014-15 % at or above Proficient - District',
 'Writing 10th Grade 2014-15 % at or above Proficient - District',
 'Reading 11th Grade 2014-15 % at or above Proficient -District',
 'Math 11th Grade 2014-15 % at or above Proficient -District',
 'Science 11th Grade 2014-15 % at or above Proficient - District',
 'Social Studies 11th Grade 2014-15 % at or above Proficient - District',
 'Writing 11th Grade 2014-15 % at or above Proficient - District',
 'HS English I 2014-15 % at or above Proficient - District',
 'HS English II 2014-15 % at or above Proficient - District',
 'HS Math I 2014-15 % at or above Proficient - District',
 'HS Math II 2014-15 % at or above Proficient - District',
 'HS Algebra I 2014-15 % at or above Proficient - District',
 'HS Geometry 2014-15 % at or above Proficient - District',
 'HS Physical Science 2014-15 % at or above Proficient - District',
 'HS Government 2014-15 % at or above Proficient - District',
 'HS History 2014-15 % at or above Proficient - District',
 'Reading 3rd Grade 2013-14 % at or above Proficient - District',
 'Math 3rd Grade 2013-14 % at or above Proficient - District',
 'Reading 4th Grade 2013-14 % at or above Proficient -District',
 'Math 4th Grade 2013-14 % at or above Proficient -District',
 'Reading 5th Grade 2013-14 % at or above Proficient -District',
 'Math 5th Grade 2013-14 % at or above Proficient -District',
 'Science 5th Grade 2013-14 % at or above Proficient - District',
 'Reading 6th Grade 2013-14 % at or above Proficient -District',
 'Math 6th Grade 2013-14 % at or above Proficient -District',
 'Reading 7th Grade 2013-14 % at or above Proficient -District',
 'Math 7th Grade 2013-14 % at or above Proficient -District',
 'Reading 8th Grade 2013-14 % at or above Proficient -District',
 'Math 8th Grade 2013-14 % at or above Proficient -District',
 'Science 8th Grade 2013-14 % at or above Proficient - District',
 'Reading 10th Grade 2013-14 % at or above Proficient -District',
 'Math 10th Grade 2013-14 % at or above Proficient -District',
 'Science 10th Grade 2013-14 % at or above Proficient - District',
 'Social Studies 10th Grade 2013-14 % at or above Proficient - District',
 'Writing 10th Grade 2013-14 % at or above Proficient - District',
 'Reading 11th Grade 2013-14 % at or above Proficient -District',
 'Math 11th Grade 2013-14 % at or above Proficient -District',
 'Science 11th Grade 2013-14 % at or above Proficient - District',
 'Social Studies 11th Grade 2013-14 % at or above Proficient - District',
 'Writing 11th Grade 2013-14 % at or above Proficient - District',
 'Watermark']

In [42]:
indicator_columns_of_interest = [
    'District IRN', 
    'District Name', 
    'Number of Standards Met', 
    'Number of Standards Possible',
]
temp2 = achievement15_indicators[indicator_columns_of_interest]
temp2.head(5)

,District IRN,District Name,Number of Standards Met,Number of Standards Possible
0,442,Manchester Local,8,29
1,43489,Akron City,1,29
2,43497,Alliance City,6,29
3,43505,Ashland City,12,29
4,43513,Ashtabula Area City,4,32