In [1]:
import pandas as pd

In [8]:
operators = pd.read_excel('Operators.xlsx')
operators.head(5)

,School IRN,School Name,Operator,Notes
0,142901,Life Skills Center of Canton,"LS Canton, LLC*",Affilated with White Hat Management LLC
1,133785,Life Skills Center of Cincinnati,"LS Cincinnati, LLC *",Affilated with White Hat Management LLC
2,8282,Life Skills Center of Columbus North,"LS Columbus North, LLC *",Affilated with White Hat Management LLC
3,664,Life Skills Center of Columbus Southeast,"LS Eastland, LLC*",Affilated with White Hat Management LLC
4,142919,Life Skills Center of Elyria,"LS Elyria, LLC*",Affilated with White Hat Management LLC

In [9]:
operators.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373 entries, 0 to 372
Data columns (total 4 columns):
School IRN     373 non-null int64
School Name    373 non-null object
Operator       236 non-null object
Notes          13 non-null object
dtypes: int64(1), object(3)
memory usage: 11.7+ KB

In [38]:
# What's up with these files?  Pandas can read them, but Excel can't! WTF?
with open('Community-School-Directory.xlsx', encoding='iso-8859-1') as in_file:
    print(in_file.read(512))

PK  6*K               _rels/.rels­ÁNÃ0ï{*÷5Ý@¡¦»LH»!4À$nµ£ÄòöD²Ãq~þb¥ÞLn,Þ0&K^UY½&c}§ÄËþqy/6Í¢~Æ8GRoC*rOJôÌáAÊ¤{tJ
èóMKÑçcìd =@r]Uw2þdæYìqgV¢Ø¼Mmk5nIz>3âW"!vÈJL£|§8¼
e
yÞe}¹Ëßï0HM!æîÈÓ·!ýËéº¹ærpbôÍ¼0gt{M#}HLî3_JZüËæPK4î   Î  PK  6*K               docProps/custom.xmlµÓMo0ðû>é[PT`4;ì°Ä{W4¶i«YöÝWèÑdÓÛÓüí6Ös¢J3Ácà
p('"güÝvíN£
æ9®§1h¨óä)zUBReÕMà:¥1r¡&%­±ØenW
¡jlìP (
Fh&È±¦Ü@¡1$GmDíÊKèòf'ó×È\ötz¿m¤ÍK¢sxã

In [12]:
school_directory = pd.read_excel('Community-School-Directory.xlsx')
school_directory.head(3)

,School IRN,School,School Type,School Type 2,School Type 3,Approved Grade Levels,School Report Card,Public District Location IRN,Public District Location,County,...,Sponsor Primary Contact Email2,Sponsor Primary Contact 2 Email1,Sponsor Superintendent,Sponsor Superintendent Email,School Finance Area,CTPD IRN,Career Tech Planning District,ODE CONSULTANT,ODE CONSULTANT PHONE,Additional Information
0,125,Polly Fox Academy Community School,Startup,Dropout Prevention and Recovery,Site Based,7-12,http://reportcard.education.ohio.gov/Pages/Dro...,44909,Toledo City,Lucas,...,NaN,NaN,Romules Durant,rdurant@tps.org,School Finance Area Coordinator 01,200061.0,Toledo City CTPD,Stacey Callahan,(614) 466-2370,https://oeds.ode.state.oh.us/SearchOrg
1,130,Phoenix Academy Community School,Startup,Dropout Prevention and Recovery,Site Based,7-12,http://reportcard.education.ohio.gov/Pages/Dro...,44909,Toledo City,Lucas,...,NaN,NaN,Romules Durant,rdurant@tps.org,School Finance Area Coordinator 01,200061.0,Toledo City CTPD,Stacey Callahan,(614) 466-2370,https://oeds.ode.state.oh.us/SearchOrg
2,131,Glass City Academy,Startup,Dropout Prevention and Recovery,Site Based,11-12,http://reportcard.education.ohio.gov/Pages/Dro...,44909,Toledo City,Lucas,...,NaN,NaN,Sandra Frisch,sfrisch@esclakeeriewest.org,School Finance Area Coordinator 01,200061.0,Toledo City CTPD,Deneice Cooper,(614) 387-2244,https://oeds.ode.state.oh.us/SearchOrg

In [14]:
school_directory.columns

Index(['School IRN', 'School', 'School Type', 'School Type 2', 'School Type 3',
       'Approved Grade Levels', 'School Report Card',
       'Public District Location IRN', 'Public District Location', 'County',
       'School Office Phone', 'School Principal', 'Principal Email',
       'School Superintendent', 'Superintendent Email', 'Sponsor IRN',
       'Sponsor', 'Sponsor Type', 'Sponsor Overall Rating 2015 2016',
       'Sponsor Office Phone', 'Sponsor Primary Contact 1',
       'Sponsor Primary Contact 2', 'Sponsor Primary Contact 3',
       'Sponsor Primary Contact Email1', 'Sponsor Primary Contact Email2',
       'Sponsor Primary Contact 2 Email1', 'Sponsor Superintendent',
       'Sponsor Superintendent Email', 'School Finance Area', 'CTPD IRN',
       'Career Tech Planning District', 'ODE CONSULTANT',
       'ODE CONSULTANT PHONE', 'Additional Information'],
      dtype='object')

In [18]:
sponsor_overall_rating = school_directory['Sponsor Overall Rating 2015 2016']
sponsor_overall_rating.head(5)

0    Ineffective
1    Ineffective
2    Ineffective
3    Ineffective
4    Ineffective
Name: Sponsor Overall Rating 2015 2016, dtype: object

In [19]:
sponsor_overall_rating.describe()

count             362
unique              3
top       Ineffective
freq              230
Name: Sponsor Overall Rating 2015 2016, dtype: object

In [31]:
grouped = sponsor_overall_rating.groupby(sponsor_overall_rating)

In [32]:
grouped.count()

Sponsor Overall Rating 2015 2016
Effective      108
Ineffective    230
Poor            24
Name: Sponsor Overall Rating 2015 2016, dtype: int64